APP_ENV=local
APP_DEBUG=false
APP_TIMEZONE=Europe/Paris

AWS_KEY=AKIAJUUASJGPYZHUHJKQ
AWS_SECRET=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
AWS_REGION=eu-central-1
AWS_BUCKET=admysports

LOG_CHANNEL=slack

SLACK_URL=https://hooks.slack.com/services/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
SLACK_CHANNEL=#ams-connect-log
SLACK_USERNAME=slackbot

CACHE_DRIVER=file
